* {
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: 0;
  font-family: "Cursed Timer ULiL", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #030712;
  padding: 1rem;
  min-height: 100vh;
}

h3 {
  color: white;
  font-family: "Verdana";
  font-size: 2.5rem;
}

p {
  font-size: 5rem;
  line-height: 5rem;
  width: 100%;
}

button {
  background-color: transparent;
  height: 2.813rem;
  color: white;
  border: #364153 2px solid;
  border-radius: 0.313rem;
  font-size: 1.125rem;
  cursor: pointer;
  transition: transform 0.2s ease;
  padding: 0.5rem;
  margin: 2rem 0 0;
}

button:hover {
  transform: scale(1.5);
  border: white 2px solid;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.button-container {
  display: flex;
  gap: 0.8rem;
  margin-top: 0.5rem 0 0 0;
}

.reset-button {
  margin: 0;
}

.scoreboard {
  color: #f94f6d;
  background-color: #172030;
  border-radius: 0.313rem;
  max-width: 18.688rem;
  height: 7.813rem;
  text-align: center;
  padding: 1rem;
  border: 3px solid #0000;
}

.winner-animation {
  background: #172030;
  border: 0.35rem solid transparent;
  border-image: linear-gradient(var(--angle), #64748b, #1e293b) 1;

  animation: 5s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

/* Utility-classes ( I love Tailwind ) */

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.gap-1 {
  gap: 1rem;
}

.text-center {
  text-align: center;
}

/* Media queries */

@media screen and (min-width: 640px) {
  .container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .scoreboard {
    width: 100%;
  }
}
